/* PRELOADERS */
@keyframes preloader-start {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.preloader-start {
    animation: preloader-start 1s ease-in-out forwards;
}

@keyframes text-slide {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(0);
    }
    66% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-40px);
    }
}

.role {
    width: 220px;
    height: 20px;
    overflow: hidden;
    position: relative;
}

.text-slide {
    display: inline-block;
    animation: text-slide 2s ease-in-out forwards;
    line-height: 20px;
}

@keyframes preloader-header {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.preloader-header {
    animation: preloader-header .5s ease-in-out;
}

/* CONTENT SCALER */
.project-scaler {
    transform: scale3d(1.2, 1.2, 1);
    transition: transform 0.6s ease;
    will-change: transform;
}

.project-scaler.in-view {
    transform: scale3d(1, 1, 1);
}