* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Mono", monospace;
    font-size: 13px;
}

p, a {
    margin: 0;
    padding: 0;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
    mix-blend-mode: difference;
}